<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/underdarkness/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="underdarkness" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
