<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/underdarkness/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="underdarkness" />
            <add key="ClearTextPassword" value="88ad6a2e505d12661ebf7ad21678a5b5fb85d7e3" />
        </github>
    </packageSourceCredentials>
</configuration>
